 <div id="containerStacked" class="dashboardMainChart"></div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        //your code to run since DOM is loaded and ready
        createPlateChart({{data | raw }});
    });
</script>
