{% extends 'base.html.twig' %}
{% block title %}AddServices{% endblock %}
{% block body %}
   
<body class="parallax">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Service Auto</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Car</a>
                        <ul class="dropdown-menu">
                            <li><a href="/car">CarList</a></li>
                            <li><a href="/car/add">Add Car</a></li>
                            <li><a href="/upload">Upload Image</a></li>
                        </ul>
                        </li>
                        <li><a href="/list">List Products</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
    <br>
    <h2>Add a service</h2>
        <h4>This is a form:</h4>
        <br>
        <br>
        <div class="form-group">
    {{ form_start(form) }}
    {{ form_widget(form) }}
</div>
    <button type="submit" class="btn btn-primary" value="Save">Submit</button>

    {{ form_end(form) }}
        </div>
        </div>
        </div>
        </div>
 

 </body>
{% endblock %}