{% extends 'base.html.twig' %}
{% block title %}AddServices{% endblock %}
{% block body %}
   
 <body class="parallax">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/car">CarList</a></li>
        <li><a href="/car/add">Add Car</a></li>
        <li><a href="/form">Contact</a></li>
        <li><a class="logout" href="/logout">Logout</a></li>
    </ul>
    <br>
    <div class="div2">Add a service</div>
   
    <div class="div1 div3service"style="text-align:left;">
        <h2>This is a form:</h2>
        <br> <br> <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
         <input class="input"type="submit" value="Save">
        {{ form_end(form) }}
    </div>

 </body>
{% endblock %}