{% extends 'base.html.twig' %}
{% block title %}CarService{% endblock %}

{% block body %}
 <body class="parallax">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/car">CarList</a></li>
      <li><a href="/car/add">Add Car</a></li>
      <li><a href="/upload">Upload Image</a></li>
    <li><a href="/list">List Products</a></li>
    <li><a href="/form">Contact</a></li>
      <li><a class="logout" href="/logout" >Logout</a></li>
    </ul>
    <div class="div">Service Auto</div>
    <br> 
    <div style="font-size:20px; margin-left: 50px;">See the services from your plate number.
    
    </div>
    <br> 
    <table class="carservice" >
        <tr>
            <th>Title</th> 
            <th>Price</th>
            <th>Description</th>
            <th>Service Date</th>
        </tr>
            {% for key in viewServices %}
        <tr>
             <td>{{ key.title }}</td>
             <td>{{ key.price }}</td>
             <td class="ds">{{ key.description }}</td>
             <td>{{ key.serviceDate|date('Y-m-d H-i-s') }}</td>
        </tr>

            {% endfor %}

    </table>   
</body>
{% endblock %}