    {% extends 'base.html.twig' %}
    {% block body %}
        <body class="parallax">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/car">CarList</a></li>
                <li><a href="/car/add">Add Car</a></li>
                <li><a href="/upload">Upload Image</a></li>
                <li><a href="/list">List Products</a></li>
                {# <li><a href="/form">Contact</a></li> #}
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        <div class="div2">Welcome!</div>
        <div class="div5 divchart divupload">
        <p style="text-align: center; font-size: 20px;">
         Service Auto is an application that can show you your services and more information about your car. 
         Don't waste your time and see how it works.
         <br> <br> <br> <br> 

        <div class="row">
            <div class="dashboardCharts column">
                <div class="ui padded segment">
                    {{ render(controller( 'AppBundle:Chart:NumberPlatebyTypeChart', { 'max': 3 } )) }}
                </div>
            </div>
        </div>
        </div>

   
</body>
{% endblock %}
{% block javascripts %} 
    {{ parent() }}  
    <!-- Charts js -->
    <script src="/js/chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
