    {% extends 'base.html.twig' %}
    {% block body %}
        <body class="parallax">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/car">CarList</a></li>
                <li><a href="/car/add">Add Car</a></li>
                <li><a href="/upload">Upload Image</a></li>
                <li><a href="/list">List Products</a></li>
                {# <li><a href="/form">Contact</a></li> #}
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        

       <div class="div4">Car service book is an application that recognize plate number from your image.
            It can show you your services and more information about your car. 
            Don't waste your time and see how it works.</div>
        <br>
                <div class="div3">Choose an image to see your service.</div>
                <div class="div1">
            {{ form_start(form) }}
            {{ form_row(form.image) }}
            <br>
            <br>
            {{ form_end(form) }}
                </div>
                

        
    
</body>
{% endblock %}
{% block javascripts %} 
    {{ parent() }}  
    <!-- Charts js -->
    <script src="/js/chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
