<<<<<<< HEAD
<div class="fos_user_group_list">
    <ul>
    {% for group in groups %}
        <li><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></li>
    {% endfor %}
    </ul>
</div>
=======
<div class="fos_user_group_list">
    <ul>
    {% for group in groups %}
        <li><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></li>
    {% endfor %}
    </ul>
</div>
>>>>>>> 735da2f7d0d78d74e5846d5ee4c9e5fdbff52924
