/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 1:40:27 PM
    Author     : Raluca
*/
    body{
        font-family:Arial;       
    }
    .parallax{
        background-image: url("../../white.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
    table {
        border-collapse: collapse;
        width: 90%;
        margin-left:50px;
        margin-right:20%;
    }
    th, td {
        text-align: left;
        padding: 7px;  
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        background-color: #af4c4c;
        color: white;   
    }
    .button2:hover {
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    a:link, a:visited {
       color:white;
       text-decoration: none;
    }
    
    .div{
        text-align:center;
        font-size: 50px;
        font-family:Verdana;
        text-shadow: 2px 2px 5px red;
        padding:5px;
        margin-bottom:5px;
        color:#7a3535;
        
        margin-right:20%;
    }
    .button1{
        margin-left:2px;
    }
    .th{
        background-color: #f2f2f2;
        color: white;
    }

    .button3{
        padding:15px;
        font-size: 20px;
        margin-top:50px;
        margin-bottom:50px;
        margin-left:45%;
    }
    .div1{
        margin:150px 150px 150px 150px;       
        background-color: #f2f2f2;
        padding:50px;
        opacity:0.7;
    }
    .div1:hover{
        opacity:0.9;
    }
    .div4{
        text-align:center;
        margin:30px 100px 10px 50px;
        text-align: justify;
        font-size:20px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #af4c4c;

    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #bf5654;
    }
    
    .logout{
        margin-left:950px;
    }
