/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 1:47:28 PM
    Author     : Raluca
*/

    body{
        font-family:Arial;
    }
    .parallax{
        background-image: url("/white.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #af4c4c;    
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #bf5654;
    }
        .div1:hover{
        opacity:0.9;
    }
    .div1{
        margin:100px 300px 100px 300px;       
        text-align:center;
        background-color: #f2f2f2;
        padding:100px;
        opacity:0.7;
    }
    
     .div1:hover{
        opacity:0.9;
    }

    .div3{
        text-align:justify;
    }
    
    .logout{
        margin-left:950px;
    }