/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 1:38:45 PM
    Author     : Raluca
*/
    body{
        font-family:Arial;
    }
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-left:150px ;
        margin-bottom:30px ;
    }
    button.accordion.active, button.accordion:hover {
        background-color: #ccc;       
    }
    div.panel {
        padding: 0 30px;
        display: none;
        margin-left:150px ;
        margin-bottom:30px ;
        width: 80%;
        background-color: #f2f2f2;     
    }
    .button {
        background-color: #af4c4c; /* Green */
        border: none;
        color: white;
        padding: 7px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 3px 1px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius:10px;
        margin-left:50px;
        padding:15px;
        font-size: 20px;
        margin-top:50px;
        margin-bottom:50px;
        margin-left:45%;
    }
    a:link, a:visited {
       color:white;
       text-decoration: none;
    }
    .button:hover {
        box-shadow: 0 8px 13px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .parallax{
        background-image: url("white.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    
    }
    .div1{
        margin:100px 50px 100px 150px;
        text-align:center;
        background-color: #f2f2f2;
        padding:100px;
        opacity:0.7;
    }
    .div1:hover{
        opacity:0.9;
    }
    .div2{
        text-align:center;
        color:#af4c4c;
        font-size:40px;
        margin-bottom:20px;
    }
    .div3{
        text-align:center;
        margin:100px 50px 100px 150px;
    }
    .divupload{
        text-align:center;
        margin:100px 50px 100px 150px;
        text-align: justify;
        font-size:20px;
    }
    .div5{
           margin:100px 50px 100px 150px;
           background-color: #f2f2f2;
           padding:50px;
           opacity:0.7;
        }
    .div5:hover{
        opacity:0.9;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #af4c4c;

    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #bf5654;
    }
    td{
        text-align:right;
    }
    
    .logout{
        margin-left:950px;
    }

